<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Academicos UEM</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/materializeIcons")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/js")


</head>
<body>

    <!--Navigation-->
    <div class="navbar navbar navbar-fixed-top">
        <nav id="nav_f" class="default_color" role="navigation">
            <div class="container">
                <div class="nav-wrapper">   
                    <a href="#" id="logo-container" class="brand-logo">Academicos MZ</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#intro">@Html.ActionLink("Inicio", "Index", "Trabalho")</a></li>
                        <li><a href="#work">Trabalhos</a></li>
                        <li><a href="#team">Subscricao</a></li>
                        <li><a href="#">Minha Conta</a></li>
                    </ul>
                    <ul id="nav-mobile" class="side-nav">
                        <li><a href="#intro">@Html.ActionLink("Inicio", "Index", "Trabalho")</a></li>
                        <li><a href="#work">Trabalhos</a></li>
                        <li><a href="#team">Subscricao</a></li>
                        <li><a href="#contact">Minha Conta</a></li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                </div>

            </div>

           
        </nav>
    </div>

    <!--Hero-->
    <div class="section no-pad-bot" id="index-banner">
        <div class="container" id="textoHeader">
            <h3 style="font-size: 50px; padding-top: 50px; padding-bottom:0;" class="text_h center header cd-headline letters type">
                <span>Encontre</span>
                <span class="cd-words-wrapper waiting">
                    <b class="is-visible">e partilhe</b>
                    <b>trabalhos</b>
                    <b>temas</b>
                </span>
            </h3>
        </div>

        <div class="container center col s4" id="searchBoxDiv">
            <div class="input-field col m10" id="searchfield">
                <input id="icon_prefix" name="name" type="text" class="validate white black-text center" placeholder="Pesquise por trabalhos, temas, etc..">
                <button id="btPesquisa" class="btn darken-1" type="submit" style="height: 47px;">Pesquisar</button>
            </div>
        </div>

    </div>


    <div class="">
        @RenderBody()
        <hr />
            <!--Footer-->
            <footer id="contact" class="page-footer default_color scrollspy">
                <div class="container">
                    <div class="row">
                      
                      
                        <div class="col l3 s12">
                            <h5 class="white-text">Siga nos</h5>
                            <ul>
                                <li>
                                    <a class="white-text" href="https://www.behance.net/joashp">
                                        <i class="small fa fa-behance-square white-text"></i> Behance
                                    </a>
                                </li>
                                <li>
                                    <a class="white-text" href="https://www.facebook.com/joash.c.pereira">
                                        <i class="small fa fa-facebook-square white-text"></i> Facebook
                                    </a>
                                </li>
                                <li>
                                    <a class="white-text" href="https://github.com/joashp">
                                        <i class="small fa fa-github-square white-text"></i> Github
                                    </a>
                                </li>
                                <li>
                                    <a class="white-text" href="https://www.linkedin.com/in/joashp">
                                        <i class="small fa fa-linkedin-square white-text"></i> Linkedin
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright default_color">
                    <div class="container">
                        Developed by Inercio Belton & Frank Cumaio
                    </div>
                </div>
            </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
