<!doctype html>
<html class="no-js" lang="">

<!-- Mirrored from www.radiustheme.com/demo/html/academics/academics/contact2.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 May 2017 19:31:44 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Academicos</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assetsFront/img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="~/Content/assetsFront/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Content/assetsFront/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/assetsFront/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Content/assetsFront/css/animate.min.css">
    <!-- Font-awesome CSS-->
    <link rel="stylesheet" href="~/Content/assetsFront/css/font-awesome.min.css">
    <link href="~/Content/assets/plugins/material-preloader/css/materialPreloader.min.css" rel="stylesheet">

    <!-- Owl Caousel CSS -->
    <link rel="stylesheet" href="~/Content/assetsFront/vendor/OwlCarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/assetsFront/vendor/OwlCarousel/owl.theme.default.min.css">

    <!-- Main Menu CSS -->
    <link rel="stylesheet" href="~/Content/assetsFront/css/meanmenu.min.css">
    <!-- nivo slider CSS -->
    <link rel="stylesheet" href="~/Content/assetsFront/vendor/slider/css/nivo-slider.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/assetsFront/vendor/slider/css/preview.css" type="text/css" media="screen" />
    <!-- Datetime Picker Style CSS -->
    <link rel="stylesheet" href="~/Content/assetsFront/css/jquery.datetimepicker.css">
    <!-- Magic popup CSS -->
    <link rel="stylesheet" href="~/Content/assetsFront/css/magnific-popup.css">
    <!-- Switch Style CSS -->
    <link rel="stylesheet" href="~/Content/assetsFront/css/hover-min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/assetsFront/style.css">
    <!-- Modernizr Js -->
    <script src="~/Content/assetsFront/js/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!-- Preloader Start Here -->
    <div class="loader-bg"></div>
    <div class="loader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-spinner-teal lighten-1">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader End Here -->
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <div id="wrapper">
        <!-- Header Area Start Here -->
        <header>
           
            <div id="header3" class="header3-area">
                <div class="header-top-area">
                    <div class="container">
                        <div class="top-bar-border">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="header-top-left">
                                        <ul>
                                            <li><i class="fa fa-phone" aria-hidden="true"></i><a href="Tel:+1234567890"> + 21 6756545</a></li>
                                            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">info@dmi.uem.ac.mz</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="header-top-right">
                                        <ul>
                                            <li>
                                                <a class="login-btn-area" href="/account/login" id=""><i class="fa fa-lock" aria-hidden="true"></i> Login</a>
                                                <div class="login-form" id="login-form" style="display: none;">
                                                    <h1 class="title-default-left-bold">Login</h1>
                                                    <form>
                                                        <label>Username or email address *</label>
                                                        <input type="text" placeholder="Name or E-mail">
                                                        <label>Password *</label>
                                                        <input type="password" placeholder="Password">
                                                        <label class="check">Lost your password?</label>
                                                        @Html.ActionLink("Login", "Login", "Account", null, new { @class = "default-big-btn" })

                                                        <button class="default-big-btn" type="submit" value="">Cancel</button>
                                                    </form>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="apply-btn-area">
                                                    <a href="#" class="apply-now-btn">Registe-se!</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-menu-area" id="sticker">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-3">
                                <div class="logo-area">
                                    <a><img class="img-responsive" src="~/Content/assetsFront/img/logo-textprimary.png" alt="logo"></a>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9">
                                <nav id="desktop-nav">
                                    <ul>
                                        <li class="active">
                                            @Html.ActionLink("Inicio", "Index", "Home")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Trabalhos", "ListaTrabalhos", "TrabalhoFiles")                                        
                                        </li>
                                        <li>
                                            <a href="#">Contactos</a>
                                        
                                        </li>
                                           
                                    </ul>
                                </nav>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mobile Menu Area Start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul>
                                        <li>
                                            @Html.ActionLink("Inicio", "Index", "Home")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Trabalhos", "ListaTrabalhos", "TrabalhoFiles")
                                        </li>
                                        <li>
                                            <a href="#">Contacte nos</a>
                                        </li>
                                       
                                        @Html.Partial("_LoginPartial")
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu Area End -->
        </header>

                @RenderBody()
                </div>

        <!-- Contact Us Page 2 Area End Here -->
        <!-- Footer Area Start Here -->
        <footer>
            <div class="footer-area-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box">
                                <a href="index.html"><img class="img-responsive" src="~/Content/assetsFront/img/logo-footer.png" alt="logo"></a>
                                <div class="footer-about">
                                    <p>O <b>Academicos</b> e uma pagina para divulgacao de trabalhos cientificos dos estudantes do Departamento de Matematica e Informatica da UEM</p>
                                </div>
                                <ul class="footer-social">
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box">
                                <h3>Links importantes</h3>
                                <ul class="featured-links">
                                    <li>
                                        <ul>
                                            <li><a href="#">Trabalhos</a></li>
                                            <li><a href="#">Contacte nos</a></li>
                                           
                                        </ul>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box">
                                <h3>Informacao</h3>
                                <ul class="corporate-address">
                                    <li><i class="fa fa-phone" aria-hidden="true"></i><a href="Phone:(01)800433633"> 21 6756545  </a></li>
                                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i>info@dmi.uem.ac.mz</li>
                                </ul>
                               
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="footer-area-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <p>&copy; 2017 Academics All Rights Reserved. &nbsp; Designed by Inercio &Aacute; Frank</p>
                        </div>
                       
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End Here -->

    <!-- jquery-->
    <script src="~/Content/assetsFront/js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <!-- Plugins js -->
    <script src="~/Content/assetsFront/js/plugins.js" type="text/javascript"></script>

    <!-- Bootstrap js -->
    <script src="~/Content/assets/plugins/materialize/js/materialize.min.js"></script>
    <script src="~/Content/assets/plugins/material-preloader/js/materialPreloader.min.js"></script>
    <script src="~/Content/assets/plugins/material-preloader/js/bootstrap.min.js"></script>



    <!-- WOW JS -->
    <script src="~/Content/assetsFront/js/wow.min.js"></script>
    <!-- Nivo slider js -->
    <script src="~/Content/assetsFront/vendor/slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
    <script src="~/Content/assetsFront/vendor/slider/home.js" type="text/javascript"></script>
    <!-- Owl Cauosel JS -->
    <script src="~/Content/assetsFront/vendor/OwlCarousel/owl.carousel.min.js" type="text/javascript"></script>

    <!-- Meanmenu Js -->
    <script src="~/Content/assetsFront/js/jquery.meanmenu.min.js" type="text/javascript"></script>
    <!-- Srollup js -->
    <script src="~/Content/assetsFront/js/jquery.scrollUp.min.js" type="text/javascript"></script>
    <!-- jquery.counterup js -->
    <script src="~/Content/assetsFront/js/jquery.counterup.min.js"></script>
    <script src="~/Content/assetsFront/js/waypoints.min.js"></script>
    <!-- Countdown js -->
    <script src="~/Content/assetsFront/js/jquery.countdown.min.js" type="text/javascript"></script>
    <!-- Isotope js -->
    <script src="~/Content/assetsFront/js/isotope.pkgd.min.js" type="text/javascript"></script>
    <!-- Google Map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgREM8KO8hjfbOC0R_btBhQsEQsnpzFGQ"></script>
    <!-- Validator js -->
    <script src="~/Content/assetsFront/js/validator.min.js" type="text/javascript"></script>
    <!-- Magic Popup js -->
    <script src="~/Content/assetsFront/js/jquery.magnific-popup.min.js" type="text/javascript"></script>

    <!-- Custom Js -->
    <script src="~/Content/assetsFront/js/main.js" type="text/javascript"></script>

    <script>

        $('#pesquisaHome').click(function () {
            localStorage.setItem("pesquisaValue", $('#pesquisaValueHome').val());
        });

        $('#pesquisaDetalhes').click(function () {
            localStorage.setItem("pesquisaValue2", $('#pesquisaDetalhesValue').val());
        });



        var pesquisaValue = localStorage.getItem("pesquisaValue");
        var pesquisaValue2 = localStorage.getItem("pesquisaValue2");

     

        if (pesquisaValue) {
            $('#searchTodos').val(pesquisaValue)

            $('.live-search-list li').each(function () {
                $(this).attr('data-search-term', $(this).text().toLowerCase());
            });

            var searchTerm = $('#searchTodos').val().toLowerCase();

            $('.live-search-list li').each(function () {

                if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }

            });

            localStorage.removeItem("pesquisaValue");

        }

        if (pesquisaValue2) {
            $('#searchTodos').val(pesquisaValue2)

            $('.live-search-list li').each(function () {
                $(this).attr('data-search-term', $(this).text().toLowerCase());
            });

            var searchTerm = $('#searchTodos').val().toLowerCase();

            $('.live-search-list li').each(function () {

                if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }

            });

            localStorage.removeItem("pesquisaValue2");

        }


        $('#btVerTodos').click(function () {
            $('#searchTodos').val('')
            $('.live-search-list li').show()

        });

        
        //pesquisa por curso
        $('.cursoList').click(function () {

            $('.live-search-list li').each(function () {
                $(this).attr('data-search-term', $(this).text().toLowerCase());
            });

            var searchTerm = $(this).text().toLowerCase();

            $('.live-search-list li').each(function () {

                if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }

            });
        });



        //pesquisa
        $('.live-search-list li').each(function () {
            $(this).attr('data-search-term', $(this).text().toLowerCase());
        });


        $('#searchTodos').keyup(function () {


            var searchTerm = $(this).val().toLowerCase();

            $('.live-search-list li').each(function () {

                if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }

            });

        });


        
    </script>



</body>
<!-- Mirrored from www.radiustheme.com/demo/html/academics/academics/contact2.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 May 2017 19:31:44 GMT -->
</html>
