@model AcademicosUem.Models.Trabalho


@{
    Layout = "~/Views/Shared/_LayoutThird.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>


    <div class="section scrollspy" id="divTrabalho">
        <div class="row">
            <div class="container offset-m3">
                <div class="col m12 m4 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="~/img/pdf.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title text_h2 activator grey-text text-darken-4">@Html.DisplayFor(model => model.Titulo) .pdf<i class="mdi-navigation-more-vert right"></i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">@Html.DisplayFor(model => model.Titulo) <i class="mdi-navigation-close right"></i></span>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="container col m8 m4">
                    <br />
                    <br />
                    <div style="margin-left: 50px;">
                        <h5 style="margin-bottom: 20px;"><span class="span_h2">Titulo:</span> <small style="color: black"> @Html.DisplayFor(model => model.Titulo) </small></h5>
                        <h5 style="margin-bottom: 20px;">
                            <span class="span_h2">Autor(es):</span><small style="color: black">
                                @{
                                    foreach (var autor in Model.Autor)
                                    {
                                        @autor.Nome<span>,</span>
                                    }
                                }
                            </small>
                        </h5>
                        <h5 style="margin-bottom: 20px;"><span class="span_h2">Data de publicacao:</span> <small style="color: black"> @Html.DisplayFor(model => model.Data_Publicacao) </small></h5>
                        <h6 style="margin-bottom:20px;"><span class="span_h2">Tags: </span> @Html.DisplayFor(model => model.Area.Nome), @Html.DisplayFor(model => model.Area.Curso.Nome)</h6>
                        @*<a class="btn btn-success btn-squared pull-right" href="whatsapp://send?text=Ola, veja o material de Programacao Web aqui: http://fakul.co.mz/material/visualizar/53/2015/Informatica/Programacao-Web" data-action="share/whatsapp/share">
                            <i class="fa fa-whatsapp"> </i> Partilhar
                        </a>*@
                        <span><i class="small col m4 s6 fa fa-star likeIcon"> 100 Votos</i> <a class="btn z-depth-1-half darken-1 btVote">Votar</a></span>
                        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2FAcademicosMz%2F&layout=button&size=large&mobile_iframe=true&width=117&height=28&appId" width="117" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

                    </div>

                    <div class="row" style="margin-top: 50px; margin-left:10px;">
                        <button data-toggle="collapse" data-target="#LerDoc" class="btn z-depth-1-half green darken-1 btLerTodoDoc" type="button"><i class="small col m1 s1 fa fa-file-text iconbtFav"></i>Ler todo documento</button>
                        <button class="btn z-depth-1-half blue darken-1 btAddFav" type="button"><i class="small col m1 s1 fa fa-star iconbtFav"></i>Adicionar aos favoritos</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container offset-l3">
            @*<a href="/ViewerJS/#../4.pdf">PDF</a>
           <a href="file:///C:\Users\Frank%20Cumaio\Source\Repos\AcademicosUem\AcademicosUem\App_Data\uploads\4.pdf" target="_blank">Link Text</a>*@
            <div id="LerDoc" class="collapse">
                <iframe src="/ViewerJS/#../uploads/@(Html.DisplayFor(model => model.Id)).pdf" width='1000' height='1000' allowfullscreen webkitallowfullscreen></iframe>             
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container offset-l3">
            <h4 class="text_h2" style="margin-bottom: 0px;">Descricao</h4>
            <hr />
            <p style="font-size: 15px; max-width:inherit; text-wrap:normal" >
                @Html.DisplayFor(model => model.Descricao)
            </p>
        </div>
    </div>
    <div class="row">
        <div class="container offset-l3">
            <h4 class="text_h2" style="margin-bottom: 0px;">Comentarios</h4>
            <hr />
            <div class="fb-comments" data-href="https://www.facebook.com/AcademicosMz/ trabalho @Html.DisplayFor(model => model.Id)" data-numposts="5"></div>
         </div>
    </div>
            <div class="row">
                <div class="container">

                    <h4 class="text_h2" style="margin-bottom: 0px;">Trabalhos <span class="span_h2">relacionados</span></h4>
                    <hr />

                @{

                    List<AcademicosUem.Models.Trabalho> trabalhos = ViewBag.trabalhosRelacionados;

                    int i = 0;
                    foreach (var item in trabalhos)
                    {
                        if (i < 4)
                        {
                            if (item.Area.Id == Model.Area.Id || item.Area.Curso.Id == Model.Area.Curso.Id)
                            {
                            <div class="col s12 m3 l3">
                                <div class="card">
                                    <div class="card-image waves-effect waves-block waves-light" style="height: 200px;">
                                        <img class="activator" src="~/img/pdf.png">
                                    </div>
                                    <div class="card-content" style="height: 130px; max-height: 130px !important; overflow-y:auto">
                                        <span class="card-title activator grey-text text-darken-4">@Html.DisplayFor(modelItem => item.Titulo)<i class="mdi-navigation-more-vert right"></i></span>
                                    </div>
                                    <button class="linkDetalhes col m7">@Html.ActionLink("Ver detalhes", "Details", new { id = item.Id })</button>

                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">@Html.DisplayFor(modelItem => item.Titulo)<i class="mdi-navigation-close right"></i></span>
                                        <hr />
                                        <p><b>Descricao: </b><br />@Html.DisplayFor(modelItem => item.Descricao)</p>
                                    </div>
                                </div>
                            </div>
                                    i++;
                                }
                            }
                        }
                    }
                </div>
            </div>

</body>
</html>
