@model IEnumerable<AcademicosUem.Models.Trabalho>
@{
    ViewBag.Title = "Inicio";
}

<!--Navegue pelas areas-->
<div id="intro" class="section scrollspy">
    <div class="">
        <div class="row">
            <div class="col m10 s10">
                <h2 class="center header text_h2" style="margin-top:0; margin-bottom: 60px;"> Navegue pelas <span class="span_h2">areas</span></h2>
            </div>
            <br />
            <br />
            <div class="col s12 m3 l3 promo1 offset-l1" style="">
                <div class="center promo promo-example">

                    <i class="small col s1 fa fa-list icon_area"></i><h5 class="promo-caption">@Html.ActionLink("Ciencias Agronomicas", "Todos", "Trabalho")</h5>
                    <br />
                    <i class="small col s1 fa fa-list icon_area icon_area1"></i><h5 class="promo-caption">@Html.ActionLink("Ciencias Biologicas", "Todos", "Trabalho")</h5>
                    <br />
                    <i class="small col s1 fa fa-list icon_area icon_area1"></i><h5 class="promo-caption">@Html.ActionLink("Engenharias", "Todos", "Trabalho")</h5>

                </div>
            </div>
            <div class="col s12 m3 l3 promo1">
                <div class="center promo promo-example">
                    <i class="small col s1 fa fa-list icon_area"></i><h5 class="promo-caption">@Html.ActionLink("Ciencias da Saude", "Todos", "Trabalho")</h5>
                    <br />
                    <i class="small col s1 fa fa-list icon_area icon_area1"></i><h5 class="promo-caption">@Html.ActionLink("Ciencias Humanas", "Todos", "Trabalho")</h5>
                   <br />
                     <i class="small col s1 fa fa-list icon_area icon_area1"></i><h5 class="promo-caption">@Html.ActionLink("Letras e Artes", "Todos", "Trabalho")</h5>

                </div>
            </div>
            <div class="col s12 m3 l4 promo1" style="padding-right:0;">
                <div class="center promo promo-example">
                    <i class="small col s1 fa fa-list icon_area"></i><h5 class="promo-caption">@Html.ActionLink("Ciencias Naturais e exactas", "Todos", "Trabalho")</h5>
                    <br />
                    <i class="small col s1 fa fa-list icon_area icon_area1"></i><h5 class="promo-caption">@Html.ActionLink("Ciencias Sociais e Aplicadas", "Todos", "Trabalho")</h5>
                </div>
            </div>
            
           
        </div>
    </div>
</div>

<!--Trabalhos recentes-->
<div class="section scrollspy" id="work">
    <div class="container">
        <h3 class="header text_h2">Trabalhos <span class="span_h2"> recentes</span> <button class="verTodos btn blue">@Html.ActionLink("Ver todos", "Todos", "Trabalho")</button></h3>
        <div class="row">
            @{int i = 0;}
            @foreach (var item in Model)
            {
                if (i < 4)
                {
                <div class="col s12 m3 l3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light" style="height: 200px;">
                            <img class="activator" src="~/img/pdf.png">
                        </div>
                        <div class="card-content" style="height: 130px; max-height: 130px !important; overflow-y:auto">
                            <span class="card-title activator grey-text text-darken-4">@Html.DisplayFor(modelItem => item.Titulo)<i class="mdi-navigation-more-vert right"></i></span>
                        </div>
                        <button class="linkDetalhes col m7">@Html.ActionLink("Ver detalhes", "Details", new { id = item.Id })</button>

                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">@Html.DisplayFor(modelItem => item.Titulo)<i class="mdi-navigation-close right"></i></span>
                           <hr />
                             <p><b>Descricao: </b><br />@Html.DisplayFor(modelItem => item.Descricao)</p>
                        </div>
                    </div>
                </div>
                i++;
                }
            }

        </div>


        <!--Trabalhos mais populares-->
        <div class="row">
            <h3 class="header text_h2">Trabalhos <span class="span_h2"> populares </span><span class="verTodos btn blue">@Html.ActionLink("Ver todos", "Todos", "Trabalho")</span></h3>

        @{int j = 0;}
        @foreach (var item in Model)
        {
            if (j < 4)
            {
                <div class="col s12 m3 l3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light" style="height: 200px;">
                            <img class="activator" src="~/img/pdf.png">
                        </div>
                        <div class="card-content" style="height: 130px; max-height: 130px !important; overflow-y:auto">
                            <span class="card-title activator grey-text text-darken-4">@Html.DisplayFor(modelItem => item.Titulo)<i class="mdi-navigation-more-vert right"></i></span>
                        </div>
                        <button class="linkDetalhes col m7">@Html.ActionLink("Ver detalhes", "Details", new { id = item.Id })</button>

                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">@Html.DisplayFor(modelItem => item.Titulo)<i class="mdi-navigation-close right"></i></span>
                            <hr />
                            <p><b>Descricao: </b><br />@Html.DisplayFor(modelItem => item.Descricao)</p>
                        </div>
                    </div>
                </div>
                j++;
            }
        }

        </div>
    </div>
</div>


<!--Parallax Subscreva-se -->
<div class="section scrollspy divTema" style="background: url(../../img/bg.jpg); background-attachment:fixed; background-size: cover; color: white !important; height: 300px;">
    <div style="background: rgba(0, 0, 0, 0.3); height: 300px; margin-top:-15px;">
        <div class="container">

            <h4 class="header text_tema center text_h2" style="line-height: 40px; margin-top: 40px; font-size: 25px;">Com dificuldades em escolher um <b>tema</b> para o seu <b>trabalho</b> ?!</h4>

            <h3 style="font-size: 30px; padding-top: 0px; padding-bottom:0;" class="text_h text_tema center header cd-headline letters type">
                Nós podemos ajudar
                <span class="cd-words-wrapper waiting">
                    <b class="is-visible">!</b>
                    <b>:)</b>
                </span>
            </h3>

            <h5 class="text_h2 center text_tema">Clique <button class="btn green">@Html.ActionLink("Aqui", "Index", "Tema")</button> para ver sugestoes de temas!</h5>
        </div>
    </div>
</div>


    <!--Subscreva se-->
    <div class="section scrollspy" id="team" style="padding-top:10px; background-color: white;">
        <div class="container center">
            <h3 class="header text_h2" style="margin-bottom: 10px;"> Subscreva - <span class="span_h2">se, </span><span style="font-size: 25px; margin-top:0;"> é simples, gratis e rapido!</span></h3>

            <div class="row">
                <span>Tenha acesso completo ao material e receba novidades via email sobre os trabalhos que lhe interessam!</span>
                <div class="input-field col m12 s12" id="searchfield">
                    <input id="icon_prefix" name="name" type="email" style="border: 1px solid rgba(203, 201, 201, 0.73);" class="validate white black-text center" placeholder="Deixe o seu email">
                </div>
                <div>
                    <button class="btn darken-1" type="submit" style="height: 47px; width: 200px; margin-bottom: 10px;">Subscrever!</button>
                    <button class="btn blue darken-1" type="button" style="height: 47px; width: 200px; margin-bottom: 10px;">Ja tenho conta!</button>
                </div>

            </div>
        </div>
    </div>

