@model IEnumerable<AcademicosUem.Models.Trabalho>
@{
    ViewBag.Title = "Home Page";
}
@*

     <p>
         @Html.ActionLink("Create New", "Create")
     </p>
    <table class="table">
         <tr>
             <th>
                 @Html.DisplayNameFor(model => model.Area.Nome)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.Titulo)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.Descricao)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.Data_Publicacao)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.Grau_Academico)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.Data_Defesa)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.Estado)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.DirectorioDoc)
             </th>
             <th></th>
         </tr>

     @foreach (var item in Model) {
         <tr>
             <td>
                 @Html.DisplayFor(modelItem => item.Area.Nome)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Titulo)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Descricao)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Data_Publicacao)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Grau_Academico)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Data_Defesa)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Estado)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.DirectorioDoc)
             </td>
             <td>
                 @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                 @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                 @Html.ActionLink("Delete", "Delete", new { id=item.Id })
             </td>
         </tr>
     }

     </table>*@

<!--Navegue pelas areas-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="center header text_h2" style="margin-top:0; margin-bottom: 60px;"> Navegue pelas <span class="span_h2">areas</span></h2>
            </div>
            <br />
            <br />
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">

                    <i class="small col s1 fa fa-list icon_area"></i><h5 class="promo-caption">  Ciencias exactas</h5>
                    <br />
                    <i class="small col s1 fa fa-list icon_area icon_area1"></i><h5 class="promo-caption">Ciencias Naturais</h5>

                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="small col s1 fa fa-list icon_area"></i><h5 class="promo-caption">Ciencias de Saude</h5>
                    <br />
                    <i class="small col s1 fa fa-list icon_area icon_area1"></i><h5 class="promo-caption">Ciencias Naturais</h5>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="small col s1 fa fa-list icon_area"></i><h5 class="promo-caption">Artes e Musica</h5>
                    <br />
                    <i class="small col s1 fa fa-list icon_area icon_area1"></i><h5 class="promo-caption">Educacao</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Trabalhos recentes-->
<div class="section scrollspy" id="work">
    <div class="container">
        <h3 class="header text_h2">Trabalhos <span class="span_h2"> recentes</span> <span style="font-size: 20px">@Html.ActionLink("[ Ver todos ]", "Todos", "Trabalho")</span></h3>
        <div class="row">
            @{int i = 0;}
            @foreach (var item in Model)
            {
                if (i < 3)
                {
                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="~/img/pdf.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title text_h2 activator grey-text text-darken-4">@Html.DisplayFor(modelItem => item.Titulo)<i class="mdi-navigation-more-vert right"></i></span>
                            <p class="linkDetalhes">@Html.ActionLink("Ver detalhes", "Details", new { id = item.Id })</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title text_h2 grey-text text-darken-4">@Html.DisplayFor(modelItem => item.Titulo)<i class="mdi-navigation-close right"></i></span>
                            <p>@Html.DisplayFor(modelItem => item.Descricao)</p>
                        </div>
                    </div>
                </div>
                i++;
                }
            }

        </div>


        <!--Trabalhos mais populares-->
        <div class="row">
            <h3 class="header text_h2">Trabalhos <span class="span_h2"> populares </span><span style="font-size: 20px">@Html.ActionLink("[ Ver todos ]", "Todos", "Trabalho")</span></h3>

        @{int j = 0;}
        @foreach (var item in Model)
        {
            if (j < 3)
            {
                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="~/img/pdf.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title text_h2 activator grey-text text-darken-4">@Html.DisplayFor(modelItem => item.Titulo)<i class="mdi-navigation-more-vert right"></i></span>
                            <p class="linkDetalhes">@Html.ActionLink("Ver detalhes", "Details", new { id = item.Id })</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title text_h2 grey-text text-darken-4">@Html.DisplayFor(modelItem => item.Titulo)<i class="mdi-navigation-close right"></i></span>
                            <p>@Html.DisplayFor(modelItem => item.Descricao)</p>
                        </div>
                    </div>
                </div>
                j++;
            }
        }

        </div>
    </div>
</div>


<!--Parallax Subscreva-se -->
<div class="section scrollspy divTema" style="background: url(../../img/Open-Book1.jpg); background-size: cover; color: white !important; ">
    <div class="container">
        <h3 class="header center text_h2" style="line-height: 30px;">Veja <span> tambem.. </span> <span style="font-size: 20px; color:white;">@Html.ActionLink("[ Sugestoes de temas para trabalhos de investigacao]", "Todos", "Trabalho")</span></h3>
    </div>
</div>


    <!--Subscreva se-->
    <div class="section scrollspy" id="team" style="padding-top:10px; background-color: white;">
        <div class="container center">
            <h3 class="header text_h2" style="margin-bottom: 10px;"> Subscreva - <span class="span_h2">se, </span><span style="font-size: 25px; margin-top:0;"> é simples, gratis e rapido!</span></h3>

            <div class="row">
                <span>Tenha acesso completo ao material e receba novidades via email sobre os trabalhos que lhe interessam!</span>
                <div class="input-field col m12 s12" id="searchfield">
                    <input id="icon_prefix" name="name" type="email" style="border: 1px solid rgba(203, 201, 201, 0.73);" class="validate white black-text center" placeholder="Deixe o seu email">
                </div>
                <div>
                    <button class="btn darken-1" type="submit" style="height: 47px; width: 200px; margin-bottom: 10px;">Subscrever!</button>
                    <button class="btn blue darken-1" type="button" style="height: 47px; width: 200px; margin-bottom: 10px;">Ja tenho conta!</button>
                </div>

            </div>
        </div>
    </div>

