@model IEnumerable<AcademicosUem.Models.TrabalhoFiles>

@{
    ViewBag.Title = "Index";
}
<div class="row col-md-12">
    <div class="input-field col s6">
        <div class="col s6">
            <input placeholder="Pesquisar" id="first_name" type="text" class="validate">
        </div>
        <div class="col s6">
            @if (Roles.IsUserInRole("Estudante"))
            { 
                <a href="#" id="submeter" class="waves-effect waves-light btn"><i class="material-icons">backup</i> Submeter Documento</a>
                }
        </div>

    </div>

    </div>


@foreach (var item in Model)
            {
    <div class="card white darken-1">
        <div class="card-content">
            <p>
            <span class="card-title"><b>Tema: </b>@Html.DisplayFor(modelItem => item.Trabalho.Titulo)</span><p>
            <span class="card-title"><b>Autor: </b>@Html.DisplayFor(modelItem => item.Trabalho.ApplicationUser.UserName)</span>
            <hr />
            <p><b>Tipo de documento:</b>Informatica @*@Html.DisplayFor(modelItem => item.Trabalho.Appli)*@</p>
            <p><b>Tipo de documento:</b> @Html.DisplayFor(modelItem => item.CatFiles.Designacao)</p>
            <p><b>Supervisor:</b> @Html.DisplayFor(modelItem => item.Data)</p>
            <p><b>Nivel Academico: </b>@Html.DisplayFor(modelItem => item.Trabalho.Grau_Academico)</p>
            <p><b>Data de Subissao:</b>@Html.DisplayFor(modelItem => item.Data)</p>
            <p><b>Estado do documento:</b> @Html.DisplayFor(modelItem => item.EstadoTrabalhoFile.Designacao)</p>
        </div>
        @if (Roles.IsUserInRole("Estudante"))
        {
            <div class="card-action">
                <a href="#modal@(Html.DisplayFor(modelItem => item.Id))" class="modal-trigger">Ler Documento</a>
                <a href="#">Alterar Documento</a>
            </div>
            <!-- Modal Structure -->
            <div id="modal@(Html.DisplayFor(modelItem => item.Id))" class="modal">
                <div class="modal-content">
                    <iframe src="/ViewerJS/#../uploads/@(Html.DisplayFor(modelItem => item.Id)).pdf"width='724' height='1024' allowfullscreen webkitallowfullscreen></iframe>
                </div>

                <div class="modal-footer">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
                </div>
                }
                @if (Roles.IsUserInRole("RA"))
                {
                <div class="card-action">
                    <a href="/trabalhofiles/AprovarDoc/@item.Id">Aprovar Documento</a>
                    <a href="#">Reprovar Documento</a>
                </div>
                }
        @if (Roles.IsUserInRole("CC"))
                {
            <div class="card-action">
                <a href="/eventoes/create/@item.Id">Marcar Defesa</a>
            </div>
        }
    </div>
    
}

            <!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        @*<iframe src="/ViewerJS/#../uploads/@(Html.DisplayFor(modelItem => item.Id)).pdf" width='724' height='1024' allowfullscreen webkitallowfullscreen></iframe>*@
    </div>

    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById("submeter").onclick = function () {
    $.ajax({
    type: "POST",
    url: '@Url.Action("verficaexistencia", "Trabalhoes")',
    contentType: "application/json; charset=utf-8",
    data: { data: "yourdata" },
    dataType: "json",
        success: function (recData) {
            $('#modal1').modal('open');

        },
    error: function() { alert('A error'); }
});
        };

    </script>
}


