@model AcademicosUem.Models.TrabalhoFiles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrabalhoFiles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CatFiles.Designacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatFiles.Designacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trabalho.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trabalho.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
