@model IEnumerable<AcademicosUem.Models.TrabalhoFiles>



@{
    ViewBag.Title = "Minha Conta";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}
        <!-- Main Body Area Start Here -->
    <!-- Header Area Start Here -->
    <!-- Header Area End Here -->
    <!-- Slider 1 Area Start Here -->
    <div class="slider1-area overlay-default">
        <div class="bend niceties preview-1">
            <div id="ensign-nivoslider-3" class="slides">
                <img src="~/Content/assetsFront/img/slider/IMG_9663.JPG" alt="slider" title="#slider-direction-1" />
                <img src="~/Content/assetsFront/img/slider/slide1.jpg" alt="slider" title="#slider-direction-2" />
                <img src="~/Content/assetsFront/img/slider/salaestudo2.jpg" alt="slider" title="#slider-direction-3" />
            </div>
            <div id="slider-direction-1" class="t-cn slider-direction" style="margin-top: 30px;">
                <div class="slider-content s-tb slide-1">
                    <div class="title-container s-tb-c">
                        <h1 class="title1">Encontre Trabalhos feitos</h1>
                    </div>
                </div>
            </div>
            <div id="slider-direction-2" class="t-cn slider-direction">
                <div class="slider-content s-tb slide-2">
                    <div class="title-container s-tb-c">
                        <h1 class="title1">Encontre trabalhos na sua area de interesse</h1>
                       
                    </div>
                </div>
            </div>
            <div id="slider-direction-3" class="t-cn slider-direction">
                <div class="slider-content s-tb slide-3">
                    <div class="title-container s-tb-c">
                        <h1 class="title1">Poupe esforcos na busca por trabalhos cientificos</h1>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider 1 Area End Here -->
<div class="service2-area">
    <div class="search-area">
        <div class="container">
            <div class="row search-inner">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <div class="search-title">
                        <span><i class="fa fa-search" aria-hidden="true"></i> Pesquisa</span>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
                    <div class="search-input">
                        <form>
                            <input type="text" class="search-form" id="pesquisaValueHome" placeholder="Digite as palavras chave . . ." required="">
                        </form>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <div class="search-submit">
                        @Html.ActionLink("Pesquisar", "ListaTrabalhos", "TrabalhoFiles", null, new { @class = "join-now-btn", @id = "pesquisaHome" })

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-md-offset-1">
        <div class="row">
         
            <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-6 col-xs-12">
                <div class="service-box3">
                    <div class="service-box-icon">
                        <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                    </div>
                    <h3><a href="#">Conta pessoal</a></h3>
                    <p>Crie uma conta e partilhe suas experiencias e ideias com outros estudantes.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="service-box3">
                    <div class="service-box-icon">
                        <a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
                    </div>
                    <h3><a href="#">Areas de Investigacao</a></h3>
                    <p>Pesquise por trabalhos em diversas areas de investigacao e busque inspiracao para os seus trabalhos</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="service-box3">
                    <div class="service-box-icon">
                        <a href="#"><i class="fa fa-book" aria-hidden="true"></i></a>
                    </div>
                    <h3><a href="#">Trabalhos publicados</a></h3>
                    <p>Encontre milhares de trabalhos publicados e submeta os seus!</p>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Featured Area Start Here -->
    <div class="featured-area bg-common-style" style="background-image: url('~/Content/assetsFront/img/featured/back.jpg');">
        <div class="container">
            <h2 class="title-default-left">Encontre trabalhos em diversos cursos</h2>
        </div>
        <div class="container">
            <div class="row featured-wrapper" id="gallery-wrapper">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="featured-box">
                        <div class="featured-img-holder hvr-bounce-to-right">
                            <img src="~/Content/assetsFront/img/slider/photo.png" class="img-responsive" alt="featured">
                            <a href="~/Content/assetsFront/img/featured/1.jpg" class="zoom"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                        </div>
                        <div class="featured-content-holder">
                            <h3><a href="#">Departamento de Matematica e Informatica</a></h3>
                            <p>
                                O Departamento de Matemática e Informática (DMI) é um Departamento Académico da Faculdade de Ciências
                            da UEM. Pela sua natureza, é uma unidade científica da Faculdade que, de forma organizada e hierárquica, 
                            engloba um conjunto de áreas científicas afins, capazes de leccionar, 
                            desenvolver a investigação e extensão e realizar a gestão dos recursos colocados à sua disposição.
                            <br />
                            <br />
                                Os seus Recursos Humanos incluem cerca de 107 docentes e investigadores (doutorados, mestrados e licenciados) e 21 funcionários do Corpo Técnico-Administrativo (CTA). 
                            É esta a equipe que, de forma estruturada e flexível, garante a formação de alto nível aos cerca de 1113 estudantes de 
                            Licenciatura e Mestrado, que o Departamento compreende anualmente, e a mais de 2000 estudantes de outras Faculdades da UEM
                            com as quais a Faculdade de Ciências interage.
                            Para garantir um suporte de qualidade ao Ensino e às Actividades de Investigação e Extensão, 
                            o DMI conta com alguns serviços e infraestruturas de apoio.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="featured-box">
                        <div class="featured-img-holder hvr-bounce-to-right">
                            <img src="~/Content/assetsFront/img/slider/sala.jpg" class="img-responsive" alt="featured">
                            <a href="~/Content/assetsFront/img/featured/2.jpg" class="zoom"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                        </div>
                        <div class="featured-content-holder">
                            <h3><a href="#">Informatica</a></h3>
                            <p>Um curso do DMI que tem como objectivo preparar técnicos informáticos de nível superior, aptos para a realização do processo de análise , desenvolvimento e implementação de soluções informáticas.</p>
                        </div>
                    </div>
                    <div class="featured-box">
                        <div class="featured-img-holder hvr-bounce-to-right">
                            <img src="~/Content/assetsFront/img/slider/admissao.jpg" class="img-responsive" alt="featured">
                            <a href="~/Content/assetsFront/img/featured/3.jpg" class="zoom"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                        </div>
                        <div class="featured-content-holder">
                            <h3><a href="#">Matematica</a></h3>
                            <p>Um curso de DMI com o objectivo de Formar especialistas para carreiras na Indústria, Serviços, Ensino Secundário, Médio e Universitário e preparar os graduados para estudos de pós-graduação, para o exercício da actividade de investigação fundamental e aplicada.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="featured-box">
                        <div class="featured-img-holder hvr-bounce-to-right">
                            <img src="~/Content/assetsFront/img/slider/admissao.jpg" class="img-responsive" alt="featured">
                            <a href="~/Content/assetsFront/img/featured/4.jpg" class="zoom"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                        </div>
                        <div class="featured-content-holder">
                            <h3><a href="#">Estatistica</a></h3>
                            <p>Os profissionais de estatística são chamados a actuar em diversas esferas de desenvolvimento 
                            económico e social: Instituições do Sistema Estatístico Nacional, Hospitais, Banca, Empresas Seguradoras,
                            instituições de ensino e de investigação e indústria, entre outras.</p>
                        </div>
                    </div>
                    <div class="featured-box">
                        <div class="featured-img-holder hvr-bounce-to-right">
                            <img src="~/Content/assetsFront/img/slider/sala.jpg" class="img-responsive" alt="featured">
                            <a href="~/Content/assetsFront/img/featured/5.jpg" class="zoom"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                        </div>
                        <div class="featured-content-holder">
                            <h3><a href="#">Ciencias de Informacao Geografica</a></h3>
                            <p>Rmply dummy printing ypesetting industry it’s free demo.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="view-all-btn-area">
                @Html.ActionLink("Ver trabalhos de todos os cursos", "ListaTrabalhos", "TrabalhoFiles",null,  new {@class = "view-all-accent-btn"})
            </div>
        </div>
    </div>
 
    <!-- Video Area End Here -->
   
<div class="courses2-area bg-common-style" style="background-image: url('../../img/featured/back2.jpg');">
    <div class="container">
        <h2 class="title-default-left">Trabalhos recentes</h2>
    </div>
    <div class="container courses-list-wrapper">
        <div class="row courses-wrapper courses-list">
            @{int i = 0;}
      @foreach (var item in Model)
        {
             if (i < 4)
                {

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 courses-item">
                <div class="courses-box2">
                    <div class="single-item-wrapper">
                        <div class="courses-img-wrapper hvr-bounce-to-right">
                            <img class="" style="height: auto !important" height="50" src="~/img/pdffoto.png" alt="courses">
                            <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                        <div class="courses-content-wrapper">
                            <h3 class="item-title"><a href="#">Informatica</a></h3>
                            <p class="item-content"><b>Tema: </b>@Html.DisplayFor(modelItem => item.Trabalho.Titulo)</p>
                            <hr />
                            <p><b>Data: </b>@Html.DisplayFor(modelItem => item.Trabalho.Data)</p>
                            <p><b>Autor: </b>@Html.DisplayFor(modelItem => item.Trabalho.ApplicationUser.UserName)</p>
                        </div>
                    </div>
                </div>
            </div>
           i++;
           }
      } 
           
        <div class="view-all-btn-area" style="padding-bottom: 40px;" >
           @Html.ActionLink("Ver todos trabalhos", "ListaTrabalhos", "TrabalhoFiles",null,  new {@class = "view-all-accent-btn"})
        </div>
    </div>
</div>
  
    <!-- Publications Area Start Here -->
    
    <!-- Students Join 2 Area Start Here -->
    <div class="students-join2-area">
        <div class="container">
            <div class="students-join2-wrapper">
                <div class="students-join2-left">
                    <img src="~/Content/assetsFront/img/slider/IMG_9663.JPG" class="img-responsive" alt="All Students">
                </div>
                <div class="students-join2-right">
                    <h2>Junte-se <span> a comunidade de</span> estudantes</h2>
                    <a href="#" class="join-now-primary-btn">Registe-se!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Students Join 2 Area End Here -->
  
<!-- Main Body Area End Here --> 



