@model IEnumerable<AcademicosUem.Models.Evento>

@{
    ViewBag.Title = "Index";
}

    <div class="card white darken-1 cyan darken-1">
        <div class="card-content">
            <span class="card-title" style="text-align: center !important; color: white !important">Eventos</span>

        </div>


    </div>



@foreach (var item in Model)
{
    <div class="card white darken-1">
        <div class="card-content">
            <p>
                <span class="card-title"><b>Tema: </b>@Html.DisplayFor(modelItem => item.Trabalho.Titulo)</span>
            <p>
                <span class="card-title"><b>Autor: </b>@Html.DisplayFor(modelItem => item.Trabalho.ApplicationUser.UserName)</span>
                <hr />
            <p><b>Data:</b> @Html.DisplayFor(modelItem => item.StartDateTime)</p>
            <p><b>Hora:</b> @Html.DisplayFor(modelItem => item.StartDateTime)</p>
            <p><b>Local: </b>@Html.DisplayFor(modelItem => item.Local)</p>
            <p><b>Email:</b>@Html.DisplayFor(modelItem => item.Email)</p>
            <p><b>Cell:</b>@Html.DisplayFor(modelItem => item.Telefone)</p>
            <p><b>Website:</b>@Html.DisplayFor(modelItem => item.Website)</p>
        </div>

            <div class="card-action">
                <a href="/trabalhofiles/AprovarDoc/@item.Id">Efetivar Defesa</a>
                <a href="#">Adiar</a>
            </div>
</div>
        }
