@model IEnumerable<AcademicosUem.Models.Evento>

@{
    ViewBag.Title = "Index";
}

    <div class="card white darken-1 cyan darken-1">
        <div class="card-content">
            <span class="card-title" style="text-align: center !important; color: white !important">Eventos</span>

        </div>


    </div>



@foreach (var item in Model)
{
    <div class="card white darken-1">
        <div class="card-content">
            <p>
                <span class="card-title"><b>Tema: </b>@Html.DisplayFor(modelItem => item.Trabalho.Titulo)</span>
            <p>
                <span class="card-title"><b>Autor: </b>@Html.DisplayFor(modelItem => item.Trabalho.ApplicationUser.UserName)</span>
                <hr />
            <p><b>Data:</b> @item.StartDateTime.ToShortDateString()</p>
            <p><b>Hora:</b> @Html.DisplayFor(modelItem => item.StartDateTime.TimeOfDay)</p>
            <p><b>Local: </b>@Html.DisplayFor(modelItem => item.Local)</p>
            <p><b>Email:</b>@Html.DisplayFor(modelItem => item.Email)</p>
            <p><b>Cell:</b>@Html.DisplayFor(modelItem => item.Telefone)</p>
            <p><b>Website:</b>@Html.DisplayFor(modelItem => item.Website)</p>
        </div>

            <div class="card-action">
                <button class=" btn btn-primary" href="#modalEvento" id="idEfectivar" value="@item.TrabalhoID">Efectivar Defesa</button>

                <a class="btn btn-primary" href="#">Adiar</a>
            </div>
</div>
        }
@section Scripts {
<script>
    $('#idEfectivar').on('click', function () {
       
        var trabID = {
            trabID: $(this).val()
        };
        
        alert(JSON.stringify(trabID));
        $.ajax({
            type: "POST",
            url: '@Url.Action("EfectivarDefesa", "Eventoes")',
            data: trabID,
            dataType: "json",
                success: function (result) {
                    alert(result)
                location.href = '/trabalhofiles/dashboard'
            },
            error: function () { alert('A error'); }
        });

    });
</script>
    }